

  <div class="edit-form">
    <div class="image">
      <%= image_tag @post.image.url(:medium) %>
    </div>

    <div class="form-group edit-form" id="edit-form-content">
      <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
        <div class="form-group edit">
          <%= f.file_field :image %>
        </div>
        <div class="form-group edit">
          <%= f.input :caption, label: false, input_html: { class: "form-control"} %>
        </div>
        <div class="form-group edit">
          <%= f.input :release_date, label: false %>
        </div>
        <div class="form-group edit">
          <%= f.button :submit, class: 'btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
