


<div class="new-post-form">
  <h3 id="new_post"> Add Kicks </h3>
    <div class = "form-wrapper">
      <%= simple_form_for @post do |f| %>
        <div class="form-group">
          <%= f.file_field :image %>
        </div>

      <div class="form-group">
        <%= f.input :caption %>
      </div>

      <div class="form-group">
        <%= f.input :release_date %>
      </div>

      <div class="form-group">
        <%= f.button :submit %>
      </div>
      <% end %>
</div>
