
     <br/>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %> <br/>
    </div>

    <p class="caption">
      <%= @post.caption %> <br/>
    </p>

    <p class="caption">
      <strong> Release Date: </strong><%= @post.release_date.strftime("%A,%B,%d") %>
    </p>

    <h3> Comments </h3>
    <%= render partial: 'posts/comment', collection: @post.comments %>
    <%= render partial: 'comments/form' %>

    <div class="text-center">
      <%= link_to "Edit Kicks", edit_post_path %>
    </div>

    <div class="text-center">
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "are you sure you want to delete?"} %>
    </div>

    <div class="text-center">
      <%= link_to "Cancel", posts_path %>
    </div>
